<!--The content below is only a placeholder and can be replaced.-->

<div class="login-form-container">
  <div class="container">

    <div class="text-center mb-5">
      <img src="../assets/logo.png" width="100%">
    </div>

    <form>
      <h2 class="mb-4">Anmelden</h2>
      <div class="form-group">
        <label for="userEmail">E-Mail-Adresse</label>
        <input type="email" class="form-control" id="userEmail" placeholder="Bitte E-Mail-Adresse eintragen">
      </div>

      <div class="form-group">
        <label for="userEmail">Passwort</label>
        <input type="password" class="form-control" id="userPassword" placeholder="Bitte Passwort eintragen">
      </div>

      <button type="submit" class="btn btn-primary">Anmelden</button>
    </form>

    <div class="card mt-5 text-center">
      <div class="card-body">
        <h5 class="mb-4">Sie haben noch keinen Account?</h5>
        <button type="submit" class="btn btn-primary">Jetzt registrieren</button>
      </div>
    </div>
  </div>
</div>

